{% extends 'base.html' %}
{% block content %}
<div class="home-container">
    <div class="container">
        {% if profile%}
        <br>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <img src="{{profile.profile.url}}" class="account-image rounded-circle" alt="image" width="250px" height="250px">
            <div class="info">
                <h1 style="color: black;">{{profile.user}}</h1>
                <p>Email:   {{profile.email}}</p>
                <p>Location:    {{profile.neighbourhood}}</p>
                <p>National ID:    {{profile.national_id}}</p>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <h1>Business Form</h1>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputBox">
                    <label for="">Business Name:</label>
                    {{form.name}}
                </div>
                <div class="inputBox">
                    <label for="">Business Email:</label>
                    {{form.email}}
                </div>
                <br>
                <button type="submit" class="btn btn-outline-dark">Post</button>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}