{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-container">
  <div class="container">
    <h1>Post</h1>
    <form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.body}}
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
  
  <div class="container">
    <br>
    {% for post in post %}
    <div class="card">
      <div class="card-body">
        <img class="account-image rounded-circle" src="{{post.author.profile.url}}" alt="image" width="40" height="40"> <strong>{{post.author}}</strong>
        <p class="card-text text-center">{{post.body}}</p>
        <p class="card-text text-center"><small>{{post.created}}</small></p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>




{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% endblock %}