.form{
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inputBx{
    margin-bottom: 20px;
}
label{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #111;
    font-weight: 400;
    letter-spacing: 1px;
}
input{
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    border-radius: 30px;
}