.form{
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inputBx{
    margin-bottom: 20px;
}