.main {
    min-height: 100vh;
    height: 100%;
}
body{
    background-color: #f2f2f2;
}
.home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.form{
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inputBx{
    margin-bottom: 20px;
}
.card{
    display:flex;
    align-items: center;
    padding: 40px;
    width: 900px ;
    border-radius: 10px;
}